Applications/SysCadCar.Mvc.App/Service References/ServiceCarroWcf/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://syscadcarapiwcfsoapservice.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SysCadCar.Domain.Entity" />
  <xs:element name="AddCarro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SysCadCar.Domain.Entity" minOccurs="0" name="carroAdd" nillable="true" type="q1:Carro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCarroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listCarro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listCarroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SysCadCar.Domain.Entity" minOccurs="0" name="listCarroResult" nillable="true" type="q2:ArrayOfCarro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewsCarro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewsCarroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SysCadCar.Domain.Entity" minOccurs="0" name="viewsCarroResult" nillable="true" type="q3:Carro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>