Applications/SysCadCar.Mvc.App/Service References/ServiceCarroWcf/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SysCadCar.Domain.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SysCadCar.Domain.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://syscadcarapiwcfsoapservice.azurewebsites.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SysCadCar.Domain.Enun" />
  <xs:complexType name="Carro">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SysCadCar.Domain.Enun" minOccurs="0" name="Bloqueio" type="q1:Status" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proprietario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renavan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlFotos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carro" nillable="true" type="tns:Carro" />
  <xs:complexType name="ArrayOfCarro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carro" nillable="true" type="tns:Carro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarro" nillable="true" type="tns:ArrayOfCarro" />
</xs:schema>